
* {
    margin: 0;   /******** remet toute les marge de base à zéro ************/
    padding: 0;
}


body {
    height: 100vh;/********* le boby prend toute la hauteur de l'ecran**********/

}
header {
    height: 10%;
    display: flex;
    background-color: rgb(17, 169, 230);
}

nav{
    width: 100%;
}



nav > ul {
    
    display: flex;/* met la liste en ligne*/
    list-style: none;/* enleve le point devant la liste*/
    justify-content: space-evenly;/* positione en largeur */
    height: 100%;

}

nav a {
    text-decoration: none;/*********** enleve le trait sous le lien ***********/
    color: rgb(214, 218, 218);
    border: 1px solid rgb(36, 192, 192);
    border-radius: 4px;
    background-color: rgb(19, 189, 219);
    padding: 4px 7px;
}
nav a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(27, 184, 223);
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
    
}

nav li{
    display: flex;
    align-items: center;
}


/*************************
tag {} pour une div 
.class {} pour une classe 
#id {} pour un id 
**************************/